* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  list-style: none;
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  padding:24px;
  border-radius: 24px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 255, 0.264) 20%,
    rgba(0, 0, 0, 0.01) 80%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.216);
  width: 60%;
  max-width: 400px;
  gap: 10px;
}

.background {
  border-radius: 24px;
  padding: 10px 20px;
  background: whitesmoke;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.216);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

input[type='text']
{
caret-color: transparent;
border-radius: 24px;
font-size: 2.5rem;
text-align: right;
outline: none;
border: 8px solid rgb(240, 239, 239);
padding: 10px 20px;
width: 90%;
color: rgba(0, 0, 0, 0.57);
background: rgba(0, 162, 255, 0.096);
margin-bottom: 30px;
 box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.07);
}
.btn{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 90%;
}
button{
  border-radius: 50%;
  padding: 8px;
  font-size: 1.5rem;
  border: none;
  width: 45px;
  color: rgba(0, 0, 0, 0.563);
  align-items: center;
  background: rgb(202, 200, 200);
 box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.07);
 cursor: pointer;
}