*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,li{
list-style: none;
cursor: pointer;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section{
  border: 2px solid red;
  border: 4px solid black;
  border-radius: 20px;
  background:linear-gradient(60deg , rgba(0, 0, 0, 0.21) 50% , rgba(249, 104, 104, 0.588) 50%);
}

button{
  padding: 10px 20px;
}

input[type="text"]{
padding: 10px 20px;
text-align: right;
}